body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  
}

.container {
  max-width: 960px;
  margin: 0 auto;
  background: linear-gradient(white,black);
  min-height: 100vh;
}

h1 {
  display: flex;
  font-size: 26px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgb(0, 13, 255);
  background: linear-gradient(rgb(96, 216, 96), rgb(229, 229, 93));
  padding: 20px 10px;
  margin: 0;
}
.text{
  display: flex;
  margin-left: 20px;
  gap: 20px;
}
p{
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}
img{
  height: 100px;
  width: 100px;
  float: left;
  border-radius: 100px;
  
}